.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 42px;
  text-align: center;
  margin: 10px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.strains-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.strain-card {
  width: 240px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.effects-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.effects-container > * + *,
.effects-container > div:first-child {
  margin: 5px;
}

.effect {
  font-size: 12px;
}

input,
select {
  margin: 0 10px;
  height: 30px;
  width: 140px;
  font-size: 16px;
}
